# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
dist/
*.egg-info/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

dist/
*.exe

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
*.cover
.coverage
.cache
.nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Test data
/data
/output

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
/env
/venv

# Spyder project settings
.spyderproject
.spyderworkspace

# VSCode project settings
.vscode/

# System specific
.DS_Store
Thumbs.db

# Logs
*.log
